* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: rgb(203, 97, 97);
}

#your-name {
  background-color: rgb(60, 227, 182);
  border: 5px solid #444;
  width: 350px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: rgb(20, 63, 95);
}

#course-image {
  width: 350px;
}

#your-name h2 {
  color: green;
}
